# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src-python
/src-arduino/esp32-SBC/prueba
/src-arduino/esp32-SBC/esp32-TFG
/src-arduino/esp32-SBC/esp32-SBC
